/* table{
   font-family: Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   width: 100%;
}
td, th {
    border: 1px solid  #dddddd; 
    text-align: left;
    padding: 20x;
}
tr:nth-child(even) {
    background-color: #dddddd;
} */
/* #ab6{
    display: flex;
} */
#aa{
    background-color: aquamarine;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}
#formin{
    background-color: white;

}
#a6{
    background-color: red;
    color: white;
}
#ab6{
    display: flex;
}
#b6 {
    color: blue;
}
#bbc6{
    padding-left: 10px;
}
#bc6{
margin-top: 20px;
margin-left: 20px;
color: red;
}
#c6{
    margin-top: 20px;
    margin-bottom: 10px;
}
c6:hover{
    color: black;
}
#a77{
    display: flex;
}
#a7{
    background-color: bisque;
}
#h17{
    color: blue;
    background-color: aquamarine;
}
#aa7{
    color: blue;
}
#b7{
    margin-top: 15px;
    margin-left: 5px;
}
#c7{
    margin-top: 15px;
}


